<form 
[formGroup]="loginForm" 
(ngSubmit)="onSubmit()" >
  <div>
    <md-input-container>
      <input mdInput placeholder="用户名" formControlName="username">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input mdInput placeholder="密码" formControlName="password">
    </md-input-container>
  </div>
  <div>
    <button md-raised-button type="submit" >登录</button>
  </div>
  <div>
    <md-toolbar>
      <a (click)="switchToForgot()" ><md-icon>history</md-icon>忘记密码</a> &nbsp;  
      <a (click)="switchToRegister()" ><md-icon>note_add</md-icon>还没有账号？</a>
    </md-toolbar>
  </div>
</form>
