<form 
[formGroup]="form" 
(ngSubmit)="onSubmit()">
  <md-input-container>
    <input mdInput  formControlName="name" type="text" placeholder="姓名">
  </md-input-container>
  <md-radio-group formControlName="gender">
    <span mdPrefix>性别：</span>
    <md-radio-button value="true" checked="true">男</md-radio-button>
    <md-radio-button value="false">女</md-radio-button>
  </md-radio-group>
  <md-select placeholder="血型" align="end" formControlName="bloodType">
    <md-option value="A">A</md-option>
    <md-option value="B">B</md-option>
    <md-option value="AB">AB</md-option>
    <md-option value="O">O</md-option>
    <md-option value="NA">不详</md-option>
  </md-select>
  <md-input-container align="end">
      <input mdInput  formControlName="age" type="number" placeholder="年龄" max="999" min="1">
  </md-input-container>
  <md-button-toggle-group formControlName="ageUnit">
    <md-button-toggle value="0" checked="true">岁</md-button-toggle>
    <md-button-toggle value="1">月</md-button-toggle>
    <md-button-toggle value="2">天</md-button-toggle>
  </md-button-toggle-group>
  <md-input-container>
      <input mdInput formControlName="dateOfBirth" type="date" placeholder="出生日期">
      <md-hint align="start">YYYY/MM/DD格式输入</md-hint>
  </md-input-container>
  <md-button-toggle-group formControlName="paymentMethod">
    <md-button-toggle value="self" checked="true">自费</md-button-toggle>
    <md-button-toggle value="bill">记账</md-button-toggle>
    <md-button-toggle value="insurance">医保</md-button-toggle>
  </md-button-toggle-group>
  <md-input-container>
    <input mdInput formControlName="phone" type="tel" placeholder="联系电话">
  </md-input-container>
  <md-input-container>
    <textarea mdInput formControlName="addr" placeholder="家庭住址">1600 Amphitheatre Pkwy</textarea>
  </md-input-container>
  <span>
    <button type="submit">完成</button>
  </span>
</form>
